# Ignore local datasets and results to reduce build context
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

venv/
.venv/
ENV/
build/
dist/
*.egg-info/

# Large data directories
# /data/raw/ is now included in the Docker image
/data/processed/
/results/
/logs/

# VCS
.git
.gitignore

# IDE/editor configs
.vscode/
.idea/
